//- -----------------------------------------------------------------|
//- DEFAULT LAYOUT
//- -----------------------------------------------------------------|
//- Contains all includes, blocks, & vairables for the scaffolding of our default layout.

//- VARIABLES
//- ---------------------------------|
include /variables/_variables
block variables

//- MIXINS
//- ---------------------------------|
include /mixins/_mixins

doctype html
html(class='no-js' lang= siteLang)
	head
		//- PAGE TITLE
		//- -------------------------|
		title= pageTitle

		//- <HEAD>
		//- -------------------------|
		include /layouts/default/inc/_head

		//- META TAGS
		//- -------------------------|
		meta(
			name='description'
			content= pageDesc
		)
		meta(
			property='og:site_name'
			content= siteName
		)
		meta(
			property='og:title'
			content= ogTitle
		)
		meta(
			property='og:description'
			content= ogDesc
		)
		meta(
			property='og:url'
			content= pageUrl
		)
		meta(
			property='og:image'
			content= pageImage
		)
		meta(
			property='twitter:card'
			content='summary'
		)

		//- PAGE SPECIFIC <HEAD>
		//- -------------------------|
		block head
	body
		//- PAGE SPECIFIC HEADER
		//- -------------------------|
		block header

		//- <HEADER> PARTIAL
		//- -------------------------|
		include /layouts/default/partials/_header

		//- <MAIN#CONTENT> BLOCK
		//- -------------------------|
		block content

		//- <FOOTER> PARTIAL
		//- -------------------------|
		include /layouts/default/partials/_footer

		//- PAGE SPECIFIC FOOTER
		//- -------------------------|
		block footer

		//- OUTDATED BROWSER
		//- -------------------------|
		include /layouts/default/partials/_outdated

		//- JS + ANALYTICS
		//- -------------------------|
		include /layouts/default/inc/_foot

		//- PAGE SPECIFIC FOOT
		//- -------------------------|
		block foot
