//- -----------------------------------------------------------------|
//- DEV MIXINS
//- -----------------------------------------------------------------|
//- Contains the template for outputting comments in our partials and components.
//-  DEV HEAD MIXIN
//- -----------------------------------------------------------------|
mixin devHead(name, type, subfolder)
	- var subfolder = subfolder || ''
	- var url = '/dev/' + type + 's' + subfolder + '/_' + name + '.html'
	= '\n'
	| <!-- BEGIN #{type.toUpperCase()}: #{name.toUpperCase()} -->
	| <!-- #{url} -->

//-  DEV FOOT MIXIN
//- -----------------------------------------------------------------|
mixin devFoot(name, type, subfolder)
	- var subfolder = subfolder || ''
	- var url = '/dev/' + type + 's' + subfolder + '/_' + name + '.html'
	= '\n'
	| <!-- END #{type.toUpperCase()}: #{name.toUpperCase()} -->
	= '\n'
